body{
    background: #efefef;
    color:green;
}
a{
    color: inherit;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
hr{
    height: 0；
    border：none;
    border-top: 1px solid#DEDEDE
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBar .logo{
    font-family: Arial black;
    text-decoration: none;
    font-size: 24px;
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs{
    color: #e06567;
    margin-right: 5px;
}
.topNavBar .logo .card{
    color: #9a9da2
}
.topNavBar{
    padding: 12px 0 12px 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.topNavBar .topNavBar-inner{
    padding: 0 12px 0 12px;
}
.topNavBar nav{
    padding-top: 7px;
    padding-bottom: 0px;    
}

.topNavBar nav>ul{
    list-style: 0px;
    padding: 0;
    margin: 0px;
}
.topNavBar nav>ul>li{
    float: left;
    list-style: none;
    margin-left: 18px;
    margin-right: 18px;
}
.topNavBar nav>ul>li>a{
    text-decoration: none;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    color: #b7b7b7b7;
    border: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
.topNavBar nav>ul>li>a:hover{
    border-bottom: 3px solid #e06567;
}
.banner{
    background-image: url(./img/wallhaven-383040_1980x560.png);
    /* border:1px solid red; */
    height: 560px;
    /* position: relative; */
    background-size: cover;
    background-position: center center;
}
.banner .mask{
    height: 560px;
    background-color: rgba(0,0,0,0.3);
}
.usercard{
    /* border:1px solid red; */
    max-width: 940px;
    margin-left:auto;
    margin-right:auto;  
    background-color:#ffff;

}
.usercard .welcome{
    background: rgb(233, 103, 107);
    display: inline-block;
    /* height: 31px;
    width: 70px; */
    /* line-height: 31px;
    text-align: center; */
    padding: 4px 16px;
    line-height: 22px;
    color: #ffff;
    position: relative;
    margin-bottom: 10px;
}
.usercard .welcome .triangle{
    display: block;
    border: 10px solid transparent;
    width: 0;
    border-left-color: #e06567;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}
.pictureAndText .picture{
    float: left;
}
.pictureAndText .text{
    float: left;
    padding-left: 65px;
    width: 470px
}
.usercard .pictureAndText{
    padding: 50px;
}
.usercard .text h1{
    margin-top: 18px;
}
.usercard .text hr{
    margin: 20px 0px;
}
.usercard .text p{
    padding-top: 16px;
}
.usercard dl dt,
.usercard dl dd{
    float: left;
    padding: 10px 0px;
}
.usercard dl dt{
    width: 30%;
    font-weight: bold;
}
.usercard dl dd{
    width: 70%;
    color: #9a9da2
}
.usercard > footer.media{
    background: #e06567;
    text-align: center;
    padding: 20px
}
.usercard svg{
    width: 30px;
    height: 30px;
    fill: #ffff;
    vertical-align: top;
}
.usercard > footer.media > a{
    /* border: 1px solid black; */
    display: inline-block;
    width: 40px;
    border-radius: 50%; 
    line-height: 30px;
    padding: 5px 0;
}
.usercard > footer.media > a:hover{
    background: #cf5d5f;
}